.chart-container {
    padding-left: 100px;
    margin-top: 10px;
    /* background-color: #eeeded; */
}

.form-select-container {
    display: flex;
    align-items: center
}

.form-select {
    /* margin-left: 50px; */
    padding: 8px 12px;
    font-size: 16px;
}

.chart-wrapper {
    padding-left: 50px;
    padding: 20px;
}

.dough {
    margin-right: 10px
}

/* Admin Profile */


/* AdminProfile.css */
