.chart-container {
    padding-left: 100px;
    margin-top: 10px;
    /* background-color: #eeeded; */
}

.form-select-container {
    display: flex;
    align-items: center
}

.form-select {
    /* margin-left: 50px; */
    padding: 8px 12px;
    font-size: 16px;
}

.chart-wrapper {
    padding-left: 50px;
    padding: 20px;
}

.dough {
    margin-right: 10px
}

/* Admin Profile */


/* AdminProfile.css */
.container {
    background-color: rgba(51, 10, 10, 0.3);
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
    height: auto;
    border: 1px solid rgba(105, 18, 18, 0.3);
    border-radius: 7px;
}


.admin-profile {
    padding: 20px;
    /* background-color: transparent !important; */
    border-radius: 5px;
    margin-bottom: 20px;
}

.admin-profile p {
    margin: 0 0 10px 0;
}

.admin-profile-loading {
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;
}

/* AdminProfile.css */


.form-control:focus {
    box-shadow: none;
    border-color: #ad0000
}

.profile-button {
    background: #252525;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #ff0000
}

.profile-button:focus {
    background: #ff0000;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: transparent;
    color: #fff;
    cursor: pointer;
    border: solid 1px #c86870
}

.name-text {
    font-size: 50px;
    font-weight: bold;
    color: white
}

.text-right h5 {}

/* Add this to your CSS file */
.scrollable-container {
    max-height: 100vh;
    /* Adjust this value based on your needs */
    overflow-y: auto;
    /* Enables vertical scrolling */
}

/* upload */
/* profilePictureStyles.css */
/* profilePictureStyles.css */

/* Style for the rounded-circle image */
.rounded-circle {
    border-radius: 50%;
}

/* Margin top for the image */
.mt-5 {
    margin-top: 5rem;
    /* You can adjust the margin-top value as needed */
}

/* Adjust the width of the image */
.custom-image-width {
    width: 290px;
    /* You can adjust the width value as needed */
}