@import url('https://fonts.googleapis.com/css?family=Archivo');
@import 'bootstrap/dist/css/bootstrap.min.css';


.App {
  display: flex;
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */
  height: 100vh;
  /* Set height to 100% of the viewport height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: 'Archievo', sans-serif;
  background: linear-gradient(to bottom, rgba(105, 18, 18, 1) 0%, rgba(0, 0, 0, 0.3) 70%) no-repeat center fixed,
    linear-gradient(to bottom, rgba(105, 18, 18, 0.3) 0%, rgba(0, 0, 0, 0.8) 70%) no-repeat center fixed,
    url("../../public/register/bg.jpeg") no-repeat center fixed;
  background-size: cover, cover, cover;
  margin: 0;
}

.tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Login Page and body */
.main-container {
  background-color: rgba(51, 10, 10, 0.3);
  padding: 5px 5px 5px 5px;
  margin-top: 15px;
  text-align: center;
  width: 100%;
  height: auto;
  border: 1px solid rgba(105, 18, 18, 0.3);
  border-radius: 7px;
}



.line {
  width: 100%;
  height: 1px;
  background-color: rgb(80, 46, 46);
  margin-top: 30px;
  margin-bottom: 30px;
}


.remember-me {
  /* margin-bottom: 10px; */
  color: #d2abab;
  cursor: pointer;
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
}

.remember-me .form-check-input[type="checkbox"] {
  /* margin-bottom: 10px; */
  border-color: #d2abab;
  background-color: transparent;
  color: #d2abab;
}

.remember-me .form-check-input[type="checkbox"]:checked {
  /* margin-bottom: 0px; */
  background-color: red;
  border-color: #d2abab;
}

.label {
  color: rgb(218, 190, 190);
}

.signup {
  color: rgb(218, 190, 190);
}

.signup:hover {
  color: red;
}


/* <Container className="main-container"> */
.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

h1 {
  margin-top: 30px;
}

h1 span {
  margin-left: 10px;
  color: red;
  transition: color 0.3s;
  cursor: text;
}

h1 span:hover {
  color: white;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.main-container .btn {
  font-size: 20px;
  border-radius: 20px;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  border-color: #8d4b4b;
  transition: all 0.3s;
}

.main-container .btn-outline-danger {
  color: #ffffff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.main-container .btn-outline-danger:hover {
  background-color: red;
  border-color: red;
}

.social-button img {
  margin-right: 20px;
  width: 30px;
  margin: flex;
}

.social-button:hover {
  background-color: red;
  border-color: #8d4b4b;
  color: red;
  transform: scale(1.1);
}

.social-button:focus {
  outline: none;
}

.social-button:active {
  transform: scale(0.95);
}

/* TEXT INPUT CONTAINER */
.main-container .text-input.container {
  padding-top: 10px;
}

/* Email */
.email-input {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #8d4b4b;
  background-color: transparent;
}

.email-input:focus {
  outline: none;
  border-color: #8d4b4b;
}

/* Password */
.main-container .main-content .form-control {
  color: white;
  width: 100%;
  margin-top: 0;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #8d4b4b;
  background-color: transparent;
}

.form-control:focus {
  outline: none;
  border-color: #8d4b4b;
}

.main-container .form-text {
  color: #9e8585;
  margin-bottom: 20px;
}

/* forgotpassword */
.forgotpassword {
  color: #d2abab;
}

.login-button {
  margin-top: 30px;
  border-radius: 20px;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  background-color: transparent;
  border-color: #8d4b4b;
}

.login-options a {
  color: #d2abab;
  text-decoration: none;
}

.main-container p {
  color: #d2abab;
}


/* Register page */
.Register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(51, 10, 10, 0.3);
  border: 1px solid rgba(105, 18, 18, 0.3);
  border: 1px solid rgba(185, 128, 128, 0.3);
  padding: 20px;
  border-radius: 7px;
  max-width: 1000px;
  margin: 0 auto;
}


.Register-social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 1px;
  width: 350px;
  margin-right: 50px;
  font-size: 150%;
  margin-bottom: 150px;
  background-color: transparent;
}

.buttonContent {
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Register-signup-form {
  background-color: transparent;
  color: white;
  text-align: center;
  align-items: center;
  margin-left: 50px;
}

.Register-container h1 {
  font-size: 50px;
  color: #ffffff;
}

.Register-container .label {
  color: rgb(218, 190, 190);
  text-align: left;
  font-weight: 500;
}

.Register-container .label p {
  font-size: 50px;
}

.Register-container p {
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
}

.Register-h2 {
  font-size: 60px;
  color: #ffffff;

}

.Register-social-button {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  margin-top: 15px;
  flex-direction: row;
}

.Register-social-button p {
  color: white;
  margin: 0;
  font-size: 10px;
  text-align: left;
}

.Register-social-container a {
  color: white;
  /* text-decoration: none; */
  font-size: 15px;
}

.Register-google,
.Register-facebook,
.Register-apple {
  width: 30px;
  height: 30px;
}

.Register-textbox {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 400px;
  padding: 5px;
}

.Register-container .Register-signup-form .Register-button {
  background-color: none;
}

.Register-button:hover {
  background-color: red;
  color: white;
  border-color: #8d4b4b;
}


.Register-signup-text {
  font-size: 40px;
}


.Register-container .loginNavigate {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.Register-container .loginNavigate p,
.Register-container .loginNavigate a {

  font-size: 15px;
  margin: 0;
  padding: 2px;
  color: #d2abab;
  font-weight: 200;
}


/* login link below */
.loginNavigate a:hover {
  color: red;
}

.Register-signup-form .Register-textbox .error-message {
  color: #ff3f3f;
  font-size: 12px;
  text-align: left;
}


/* SIDE NAV */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background: linear-gradient(to bottom, #1C080A, #2C0D10);
  border-right: 1px solid #ffffff;
}

#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}


#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.transparent-bg {
  background: transparent;
}

#dashboard-bg {
  background-color: #2C0C0F;
  height: 100vh;
}

.dashboard-nav {
  display: flex;
}

.nav-content {
  padding-right: 20px;
  color: white;
  border-right: white 1px solid;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-button-container {
  padding: 10px;
  margin-right: 100px;
}

