@import url('https://fonts.googleapis.com/css?family=Archivo');
@import 'bootstrap/dist/css/bootstrap.min.css';


.App {
  /* text-align: center; */
}

/* body {
  margin: 0;
  font-family: 'Archivo',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: 'Archievo', sans-serif;
  background: linear-gradient(to bottom, rgba(105, 18, 18, 1) 0%, rgba(0, 0, 0, 0.3) 70%) no-repeat center fixed,
      linear-gradient(to bottom, rgba(105, 18, 18, 0.3) 0%, rgba(0, 0, 0, 0.8) 70%) no-repeat center fixed,
      url("../public/register/bg.jpeg") no-repeat center fixed;
  background-size: cover, cover, cover;
  margin: 0;
}

.main-container {
  background-color: rgba(51, 10, 10, 0.3);
  padding: 30px 10px 10px 10px;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  border: 1px solid rgba(105, 18, 18, 0.3);
  border-radius: 7px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  /* margin-top: 0px; */
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  color: white;
  margin-right: 10px;
  text-align: center;
}

.header h1 {
  /* margin: 5px; */
  font-size: 100%;
  font-weight: lighter;
  color: whitesmoke;
}

.header h1 span {
  font-size: 80%;
  font-style: normal;
  font-weight: bold;
}

.header p {
  margin: 0;
  font-size: 250%;
  font-weight: bolder;
  color: aliceblue;
}

.header p:hover {
  margin: 0;
  font-size: 250%;
  font-weight: bolder;
  color: red;
  border-width: 5%;
  border-color: whitesmoke;
}

.buttons {
  font-size: 200%;
  display: flex1;
  flex-direction: column;
}

.button-container {
  margin-top: 20px;
  cursor: pointer;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: transparent;
  color: #a9a9a9;
  border: 1px solid rgb(141, 75, 75);
  cursor: pointer;
  max-width: 300px;
  margin: 0 auto;
  width: 300px;
  transition: all 0.3s ease;
  font-weight: bold;
  font-size: 20px;
}

.social-button:hover {
  transform: scale(1.1);
  color: white;
  background-color: red;
}

.social-button img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.main-content {
  margin-top: 40px;
  max-width: 800px;
  margin: 10px auto;
  /* Set left and right margins to auto */
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: white;
  font-size: 150%;
}

.textbox-container {
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
  color: aliceblue;
}




.line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 20px 0;
}


.main-content .form-group {
  font-size: 80%;
  color: #a9a9a9;
  text-align: justify;
  margin-top: 20px;
}

.main-content .form-group .form-control {
  margin-top: 5px;
  background-color: transparent;
  color: aliceblue;
}

.main-content .form-group .form-control:focus {
  box-shadow: 1px 2px 2px 2px rgba(105, 18, 18, 0.5);
  border-color: white;
}


.remember-me {
  display: flex;
  align-items: center;
  font-size: 50%;
  color: #a9a9a9;
}

.remember-me label {
  margin-right: 10px;
}

.remember-me button {
  margin-left: auto;
  color: #a9a9a9;
  font-size: 100%;
}

.login-button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  max-width: 300px;
  background-color: transparent;
  border: 1px solid rgb(141, 75, 75);
  color: #a9a9a9;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

.login-button:hover {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.signup-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.signup-text .signup-text :hover {
  color: red;
}


p {
  margin-top: 20px;
  font-size: 50%;
  color: #dcdcdc;
  display: flex;
  align-items: center;
}
