@import url('https://fonts.googleapis.com/css?family=Archivo');
@import 'bootstrap/dist/css/bootstrap.min.css';


.App {
  display: flex;
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */
  height: 100vh;
  /* Set height to 100% of the viewport height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: 'Archievo', sans-serif;
  background: linear-gradient(to bottom, rgba(105, 18, 18, 1) 0%, rgba(0, 0, 0, 0.3) 70%) no-repeat center fixed,
    linear-gradient(to bottom, rgba(105, 18, 18, 0.3) 0%, rgba(0, 0, 0, 0.8) 70%) no-repeat center fixed,
    url("../public/register/bg.jpeg") no-repeat center fixed;
  background-size: cover, cover, cover;
  margin: 0;
}

.main-container {
  background-color: rgba(51, 10, 10, 0.3);
  padding: 5px 5px 5px 5px;
  margin-top: 60px;
  text-align: center;
  width: 100%;
  height: auto;
  border: 1px solid rgba(105, 18, 18, 0.3);
  border-radius: 7px;
}

.social-button:hover {
  background-color: red;
  color: white;
  border-color: red;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgb(80, 46, 46);
  margin-top: 30px;
  margin-bottom: 30px;
}


/* remember me and forgotpassword */
.remember-me {
  color: #d2abab;
  cursor: pointer;
}

.remember-me .form-check-input[type="checkbox"] {
  border-color: #d2abab;
  background-color: transparent;
  color: #d2abab;
}

.remember-me .form-check-input[type="checkbox"]:checked {
  background-color: red;
  border-color: #d2abab;
}

.login-button btn-block:hover {
  background-color: red;
  color: white;
  border-color: #8d4b4b;
}

.label {
  color: rgb(218, 190, 190);
}

.signup {
  color: rgb(218, 190, 190);
}

.signup:hover {
  color: red;
}

.text-center {
  color: rgb(218, 190, 190);
}

.Register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  /* Adjust the margin as needed */
  /* background-color: rgba(51, 10, 10, 0.3);
  border: 1px solid rgba(105, 18, 18, 0.3); */
  padding: 20px;
  border-radius: 7px;
  max-width: 800px;
  /* Set your desired max-width */
  margin: 0 auto;
  /* Center the container horizontally */
}


.Register-social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 1px;
  width: 350px;
  margin-right: 50px;
  /* Adjust the margin as needed */
  font-size: 10px;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.Register-signup-form {
  text-align: center;
  align-items: center;
  margin-left: 50px;
  /* Adjust the margin as needed */
}

.Register-container h1 {
  font-size: 40px;
  color: #ffffff;
}

.Register-container .label {
  color: #ffffff;
  text-align: left;
  font-weight: 500;
}

.Register-container .label p {
  font-size: 20px;
}

.Register-container p {
  font-size: 40px;
  color: #ffffff;
}

.Register-h2 {
  font-size: 60px;
  color: #ffffff;

}

.Register-social-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  margin-top: 15px;
  flex-direction: row;
  /* Set flex direction to row */
}

.Register-social-button p {
  color: black;
  margin: 0;
  font-size: 10px;
  text-align: left;
}

.Register-google,
.Register-facebook,
.Register-apple {
  width: 30px;
  height: 30px;
}

.Register-textbox {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 400px;
  padding: 5px;
}

.Register-button {
  border-radius: 20px;
  border-width: 1px;
  width: 250px;
  height: 40px;
  margin-top: 50px;
}

.Register-container .Register-button p {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.Register-signup-text {
  font-size: 40px;
}

.Register-container .loginNavigate {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.Register-container .loginNavigate p,
.Register-container .loginNavigate a {
  font-size: 20px;
  margin: 0;
  padding: 5px;
  color: #e4e4e4;
  font-weight: 200;
}